html {
  scroll-behavior: smooth;
}

body {
  /*image background*/
  background-image: url('../images/mountaintop-landscape-and-clouds-in-nepal.jpg');
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Martel Sans', serif;
  font-size: 18px;
  line-height: 150%;
}

.jumbotron {
  background: none;
  font-family: 'Martel Sans';
  font-size: larger;
  color: white;
  font: bold;
}


h1 {
  visibility: visible;
}

/* input card*/
.float-left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}

/* weather forcast card*/
.float-right {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}
